/* General Reset */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    text-align: center;
    margin: 0;
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
}

h1 {
    margin: 0;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 200px;
    transition: width 0.4s ease-in-out;
}

.search-bar input[type="text"]:focus {
    width: 300px;
    outline: none;
}

.search-bar #buscar {
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: #007bff;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a, a h1 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover, a h1:hover {
    color: #18bc9c;
}

nav ul li a svg{
    height: 30px;
    width: 30px;
}

nav ul li a svg:hover {
    fill: #18bc9c;
}

a{
    text-decoration: none;
}

.flexeo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.informacion{
    color: black;
    background-color: #f4f4f4;
    padding: 0;
    text-align: start;
    padding: 10px;
}

.caja{
    margin: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 30%;
}

.negrita{
    font-weight: bold;
}

h3, h2{
    margin: 10px;
    padding: 10px;
}

.fotos{
    width: 50%;
}

.usuario-tarjeta{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.usuario-tarjeta:hover {
    transform: scale(1.05);
}

.usuarios-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parrafo{
    color: black;
    background-color: white;
}

.parrafo-2{
    color: black;
    background-color: #f4f4f4;
}

.portfolio{
    margin-top: 3%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.portfolio:hover {
    background-color: #0056b3;
}